[Desktop Entry]
Version=1.0
Name=Studscoin 
Comment=Studscoin P2P Cryptocurrency
Comment[fr]=Studscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Studscoin, eşten eşe kriptografik sanal para birimi
Exec=studs-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/studs;
Categories=Office;Finance;
StartupWMClass=studs-qt
