[Desktop Entry]
Version=1.0
Name=Studscoin
Comment= STUDS P2P Cryptocurrency
Comment[fr]= STUDS, monnaie virtuelle cryptographique pair à pair
Comment[tr]= STUDS, eşten eşe kriptografik sanal para birimi
Exec=studs-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Studscoin-qt
