[Desktop Entry]
Encoding=UTF-8
Name=Studscoin
Comment=Studscoin P2P Cryptocurrency
Comment[fr]=Studscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Studscoin, eşten eşe kriptografik sanal para birimi
Exec=studscoin-qt %u
Terminal=false
Type=Application
Icon=studscoin128
MimeType=x-scheme-handler/studscoin;
Categories=Office;Finance;
